
{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - Contact{%endblock%}

{% block head %}
  {{ super() }}

{% endblock %}

{% block content %}
  <div class="my-3 flex justify-center">
    <article class="prose lg:prose-xl max-w-6xl px-20 text-justify">
      <h1 class="text-ctp-red">Message Failed To Send</h1>
      <p>Unfortunately an error occurred and your message failed to send. Please try again at. <a href="/contact">Contact</a></p>
    </article>
  </div>
{% endblock %}
